<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://i.pinimg.com/564x/44/e4/81/44e48173a43d69325ee51facaf7b6562.jpg" alt="Card image cap" width= "330px">
    <div class="card-body">
      <h4 class="card-title"><b>Soroush Bahrami</b></h4>
      <p class="card-text">I have worked on two WEB projects so far. In the first
        One, I created a website for a store, selling old records and films from 1960s. 
        In the second one, I made a more advanced website for an imaginary restaurant, which 
        I named, Fellini.</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>